:root{
    --dark-muted: #F4F4F4;
    --footer-dark: #282828;
    --footer-light: #373737;
}


#showcase{
    width: 100%;
    position: relative;
    background-image: url('../images/dream11_home_bg_mobile.png');
    min-height: 500px;
    overflow: hidden;
}
#showcase .primary-overlay{
        /* background-color: $primary-overlay; */
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
}
#showcase .thunder-image{
    position: absolute;
    right: 0;
    bottom: 0;
}
#showcase .dhoni-image{
    width: 400px;
    position: absolute;
    left: 0;
    bottom: -144px;
}
@media (max-width: 992px){
    #showcase .dhoni-image{
        width: 380px;
    }
}
@media (max-width: 575px){
    #showcase .dhoni-image{
        width: 300px;
    }
}

.mw-s-3{
    width: 30%;
    min-width: 50px;
}
/* @media (max-width: 768px){
    .mw-s-3{
        height: 80px;
    }
}
@media (max-width: 575px){
    .mw-s-3{
        height: 70px;
    }
} */

#section-2 .nav .nav-item.active{
    border-bottom: 2px solid rgb(191, 1, 1);
    color: rgb(191, 1, 1);
}

#section-2 .vscards{
    background-color: var(--dark-muted);
}
#section-2 .card{
    overflow: hidden;
}
#section-2 .card h6{
    font-size: 13px;
}
#section-2 .team-1{
    position: relative;
}
#section-2 .team-1 .t-color{
    border-radius: 0px 20px 20px 0px;
    background-color: lightgreen;
    width: 70px;
    height: 40px;
}
#section-2 .team-1 .flage{
    position: absolute;
    left: 52px;
    top: -10px;
}

#section-2 .team-2 {
    position: relative;
}
#section-2 .team-2 .t-color{
    border-radius: 20px 0px 0px 20px;
    background-color: lightseagreen;
    width: 70px;
    height: 40px;
}
#section-2 .team-2 .flage{
    position: absolute;
    right: 45px;
    top: -11px;
}


#section-3 .sec-sub-2 .number{
    font-size: 4em;
    font-weight: 600;
} 

#section-3 .sec-sub-2 iframe{
    width: 650px;
    height: 415px;
}
@media (max-width: 576px){
    #section-3 .sec-sub-2 iframe{
        width: 100%;
        height: 200px;
    }   
}
#section-4{
    position: relative;
    background-color: var(--dark-muted);
}
/* #section-4 img{
    position: absolute;
} */

#section-4 ul li{
    line-height: 25px;
}

#section-4 ul li::before{
    content: "- ";
}
#section-4 .app-pub{
    /* display: inline-block;
    padding: 0.5em 1em; */
    border-radius: 8px 8px;
}
.app-pub{
    min-width: 200px;
    background-color: black;
    cursor: pointer;
}
#section-4 .app-pub h7{
    font-size: 10px;
}
#section-4 .app-pub h5{
    font-size: 1.2em;
}
#section-4 .app-pub i{
    font-size: 40px;
}

#section-6 .card{
    width:350px;
}
#section-6 .score{
    max-height: 180px;
    background-image: url('../images/bolt_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;   
}
@media (max-width:767px){
    #section-7{
        text-align: center;
    }
}
#footer .top-footer{
    background-color: var(--footer-light);
}

#footer .top-footer .top-footer-1 .sociable ul li{
    position: relative;
    border-radius:30px;
    background-color: #fff;
    color: black;
    display: inline-block;
    width: 30px;
    height: 30px;
}
#footer .top-footer .top-footer-1 .sociable ul li i{
    position: absolute;
    left: 8px;
    top: 8px;
}

#footer .top-footer .top-footer-1 .about-instruction ul li{
    white-space: nowrap;
    padding: 10px 0px;
}
#footer .bottom-footer{
    background-color: var(--footer-dark);
}





